body {
    background-color: blue;
    color:white;
    font-family: helvetica;
    font-size: 14px;
}

.reverse {
    background-color: pink !important;
    color:aliceblue;
}
p {
    padding :20px;
}